# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
ai_backend/uploads/
ai_backend/vector_db/

# Node/JS (Frontend)
siliconmind/node_modules/
siliconmind/.next/
siliconmind/out/
siliconmind/build/
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
